<% include ./partials/header.ejs %>
 
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-600 text-white">
    <h1 class="text-4xl font-bold mb-8">Jobs</h1>
 
    <div class="max-w-sm border rounded overflow-hidden shadow-lg">
        <img src="/images/COGNIZANT.jpg" alt="Job Image" class="w-full h-40 object-cover">
        <div class="px-6 py-4 text-white">
            <div class="font-bold text-xl mb-2"> Engineer Trainee for Service Desk.</div>
            <p class="text-white text-base  ">IT Service Desk is a centralized team that provides technical support to our clients, including troubleshooting and resolution of IT issues and ensuring smooth functioning of their Computer Systems and IT Services.</p>
        </div>
        <div class="px-6 py-4">
            <a href="http://tinyurl.com/ywwhmf7n" class="inline-block bg-zinc-900 text-white py-2 px-4 rounded-full">Apply Now</a>
        </div>
    </div>
    
</div>
<footer class="bg-gray-800 p-4">
    <div class="flex items-center justify-between">
        <div class="text-white">
            <p>Connect with us on social media:</p>
            <div class="flex mt-2">
                <a class="text-teal-200 hover:text-white mr-4" href="#">Facebook</a>
                <a class="text-teal-200 hover:text-white mr-4" href="#">Instagram</a>
                <a class="text-teal-200 hover:text-white" href="#">Pinterest</a>
            </div>
        </div>
    </div>
  </footer>

<% include ./partials/footer.ejs %>